<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @target.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @target.team %>
</p>

<p>
  <strong>Type:</strong>
  <%= @target.affected %>
</p>

<p>
  <strong>Description:</strong>
  <%= @target.description %>
</p>

<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
