<p id="notice"><%= notice %></p>

<h1>Listing Monsters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rarity</th>
      <th>Element</th>
      <th>Stat element</th>
      <th>Cost</th>
      <th>Current reforge</th>
      <th>Max reforge</th>
      <th>Top stat</th>
      <th>Bot stat</th>
      <th>Skill name</th>
      <th>Skill description</th>
      <th>Thumbnail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monsters.each do |monster| %>
      <tr>
        <td><%= monster.name %></td>
        <td><%= monster.rarity %></td>
        <td><%= monster.element %></td>
        <td><%= monster.stat_element %></td>
        <td><%= monster.cost %></td>
        <td><%= monster.current_reforge %></td>
        <td><%= monster.max_reforge %></td>
        <td><%= monster.top_stat %></td>
        <td><%= monster.bot_stat %></td>
        <td><%= monster.skill_name %></td>
        <td><%= monster.skill_description %></td>
        <td><%= monster.thumbnail %></td>
        <td><%= link_to 'Show', monster %></td>
        <td><%= link_to 'Edit', edit_monster_path(monster) %></td>
        <td><%= link_to 'Destroy', monster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster', new_monster_path %>
